<h1>Create a new City!</h1>

<br>

<form action="/cities" method="post">
  <label for="city_name">Name:</label>
  <input type="text" name="cities[name]" id="city_name" value="">

  <label for="city_population">Population:</label>
  <input type="text" name="cities[population]" id="city_population" value="">

  <input type="submit" name="submit" value="Submit">

</form>
